[submodule "aragon/govern"]
	path = aragon/govern
	url = git@github.com:aragon/govern.git
[submodule "aragon/court-precedence-campaign"]
	path = aragon/court-precedence-campaign
	url = git@github.com:aragon/court-precedence-campaign.git
[submodule "aragon/aragon-apps"]
	path = aragon/aragon-apps
	url = git@github.com:aragon/aragon-apps.git
[submodule "aragon/staking"]
	path = aragon/staking
	url = git@github.com:aragon/staking.git
[submodule "aragon/aragon-network-token"]
	path = aragon/aragon-network-token
	url = git@github.com:aragon/aragon-network-token.git
[submodule "aragon/buidler-aragon"]
	path = aragon/buidler-aragon
	url = git@github.com:aragon/buidler-aragon.git
[submodule "aragon/evm-storage-proofs"]
	path = aragon/evm-storage-proofs
	url = git@github.com:aragon/evm-storage-proofs.git
[submodule "aragon/aragonOS"]
	path = aragon/aragonOS
	url = git@github.com:aragon/aragonOS.git
[submodule "aragon/dao-templates"]
	path = aragon/dao-templates
	url = git@github.com:aragon/dao-templates.git
[submodule "aragon/protocol"]
	path = aragon/protocol
	url = git@github.com:aragon/protocol.git
[submodule "aragon/aragon-factory"]
	path = aragon/aragon-factory
	url = git@github.com:aragon/aragon-factory.git
[submodule "aragon/aragon-court"]
	path = aragon/aragon-court
	url = git@github.com:aragon/aragon-court.git
[submodule "aragon/apm"]
	path = aragon/apm
	url = git@github.com:aragon/apm.git
[submodule "aragon/aragon-id"]
	path = aragon/aragon-id
	url = git@github.com:aragon/aragon-id.git
[submodule "aragon/minime"]
	path = aragon/minime
	url = git@github.com:aragon/minime.git
[submodule "aragon/concierge"]
	path = aragon/concierge
	url = git@github.com:aragon/concierge.git
[submodule "aragon/ppf"]
	path = aragon/ppf
	url = git@github.com:aragon/ppf.git
[submodule "aragon/svrp"]
	path = aragon/svrp
	url = git@github.com:aragon/svrp.git
[submodule "aragon/signature-registry"]
	path = aragon/signature-registry
	url = git@github.com:aragon/signature-registry.git
[submodule "uniswap/uniswap-v3-periphery"]
	path = uniswap/uniswap-v3-periphery
	url = git@github.com:Uniswap/uniswap-v3-periphery.git
[submodule "uniswap/uniswap-v3-core"]
	path = uniswap/uniswap-v3-core
	url = git@github.com:Uniswap/uniswap-v3-core.git
[submodule "uniswap/uniswap-lib"]
	path = uniswap/uniswap-lib
	url = git@github.com:Uniswap/uniswap-lib.git
[submodule "uniswap/uniswap-v2-core"]
	path = uniswap/uniswap-v2-core
	url = git@github.com:Uniswap/uniswap-v2-core.git
[submodule "uniswap/uniswap-v2-periphery"]
	path = uniswap/uniswap-v2-periphery
	url = git@github.com:Uniswap/uniswap-v2-periphery.git
[submodule "uniswap/merkle-distributor"]
	path = uniswap/merkle-distributor
	url = git@github.com:Uniswap/merkle-distributor.git
[submodule "uniswap/governance"]
	path = uniswap/governance
	url = git@github.com:Uniswap/governance.git
[submodule "uniswap/advanced-weth"]
	path = uniswap/advanced-weth
	url = git@github.com:Uniswap/advanced-weth.git
