[submodule "aragon/govern"]
	path = aragon/govern
	url = git@github.com:aragon/govern.git
[submodule "aragon/court-precedence-campaign"]
	path = aragon/court-precedence-campaign
	url = git@github.com:aragon/court-precedence-campaign.git
[submodule "aragon/aragon-apps"]
	path = aragon/aragon-apps
	url = git@github.com:aragon/aragon-apps.git
[submodule "aragon/staking"]
	path = aragon/staking
	url = git@github.com:aragon/staking.git
[submodule "aragon/aragon-network-token"]
	path = aragon/aragon-network-token
	url = git@github.com:aragon/aragon-network-token.git
[submodule "aragon/buidler-aragon"]
	path = aragon/buidler-aragon
	url = git@github.com:aragon/buidler-aragon.git
[submodule "aragon/evm-storage-proofs"]
	path = aragon/evm-storage-proofs
	url = git@github.com:aragon/evm-storage-proofs.git
[submodule "aragon/aragonOS"]
	path = aragon/aragonOS
	url = git@github.com:aragon/aragonOS.git
